@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

$font-stack: 'Inter', sans-serif;
$primary-color: #000;
$secondary-color: #fff;
$third-color: #FFBD3D;
$fourth-color: #C3423F;
$fifth-color: #05C793;
