@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$font-stack: 'Inter', sans-serif;
$primary-color: #000;
$secondary-color: #fff;
$third-color: #FEE440;
$fourth-color: #00F5D4;
$fifth-color: #e71d36;
$sixth-color: #FFBD3D;
