@media only screen and (max-width: 768px) {
    .policy {
        padding: 4rem 5.5rem;
    }

    .circle {
        width: 0;
    }

    html,
    body {
        cursor: auto;
        pointer-events: auto;
    }

    body {
        cursor: auto;
    }

    a {
        cursor: pointer;
    }
}

@media only screen and (max-width: 500px) {
    .policy {
        padding: 0;
        margin: 2rem 3rem;
        font-size: 0.8rem;
    }

    .dsvgo {
        h1, h2, h3, h4 {
            font-size: 0.8rem;
        }

        ul li {
            margin-left: 1rem;
        }
    }

    .circle {
        width: 0;
    }

    html,
    body {
        cursor: auto;
        pointer-events: auto;
    }

    body {
        cursor: auto;
    }

    a {
        cursor: pointer;
    }
}