@import "config";
@import "cursor";

* {
    margin: 0;
    padding: 0;
}

html,
body {
  overflow-x: hidden;
  background: $primary-color;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
    background: $primary-color;
    font-family: $font-stack;
    font-weight: 300;
    cursor: none;
    color: $secondary-color;
}

.policy {
    padding: 0 2rem;
}