@import "config";

* {
    margin: 0;
    padding: 0;
}

html,
body {
  overflow-x: hidden;
  background: $primary-color;
}

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: $font-stack;
}

h1, h2 {
    color: $third-color;
    z-index: 10;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.middle {
    opacity: 1;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 33rem;
}

.card-name {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 0 0 1rem;
    line-height: 1;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100vh;
}

.fill video {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    
    .grid-item {
      height: 100vh;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100vh
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 3rem 0;
    background: $primary-color;

    .icon {
        font-size: 2.8rem;
        color: $third-color;
        padding: 0 1rem;
    }
}
